.wrapper {
  height: 100%;
}

.add-btn {
  height: 50%;
}

.main-content {
  margin: auto;
  padding-top: 1em;
  width: 80%;
}

.table-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.add-btn {
  margin: 2% 0;
}

.main-table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.action {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: inherit;
  align-items: center;
}

.action-icon {
  cursor: pointer;
}
